.footer {
    background-color: var(--whiteColor);
    font-family: var(--arialRegular);
    margin-top: 20px;
    padding-top: 50px;
    position: relative;
}
.footer::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 25px;
    background-color: rgba(128, 128, 128, 0.236);
 }
.footer__container {
}
.footer__inner {
}
.footer__logo {
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
}
.footer__top {
    padding-bottom: 40px;
}
.footer__title {
    font-size: 20px;
    margin-bottom: 20px;
}
.footer__lists {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 70px;
}
.footer__lists-blocck{
    display: flex;
}
.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 200px;
}
.footer__item {}
.footer__link {
    color: var(--blackColor);
    font-size: 16px;
    line-height: 1.4;
}
.footer__line{
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.236);
}
.footer__bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 40px 0;
}
.footer__bottom-schedule {
    display: flex;
    column-gap: 30px;
    margin-right: 250px;
}
.footer__bottom-title {
    font-size: 20px;
}
.footer__bottom-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 18px;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-right: 60px;
}
.footer__contacts-title {
    font-size: 20px;
}
.footer__contacts span{
    font-size: 18px;
}
.footer__contacts-social {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.footer__contacts-img{
    border-radius: 50%;
    border: 1px solid var(--blackColor);
    padding: 10px;
    transition: background-color .3s ease;
    &:hover{
       background-color: var(--darkEllow);
    }
}
.footer__contacts-social img{
    width: 20px;
    height: 20px;
}
.footer__info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 30px;
}
.footer__info-block {
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: 18px;
}
.footer__info-adress {
    font-size: 18px;
    align-self: flex-end;
    text-align: center;
    line-height: 1.3;
}
.footer__copy {
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
    padding: 20px 0 30px 0;
}

@media (max-width: 1240px){
    .footer__title{
        text-align: center;
        margin-bottom: 40px;
    }
}
@media (max-width: 1195px){
    .footer__bottom-schedule, .footer__contacts {
        margin-right: auto;
    }
}
@media (max-width: 940px){
    .footer__bottom-schedule, .footer__contacts {
        padding-right: 20px;
    }
}
@media (max-width: 600px){
    .footer__bottom-schedule {
        flex-direction: column;
        row-gap: 20px;
    }
}
@media (max-width: 480px){
    .footer__title{
        text-align: left;
        margin-bottom: 20px;
    }
    .footer__lists {
       justify-content: flex-start;
       row-gap: 30px;
    }
    .footer__lists-blocck{
        flex-direction: column;
        row-gap: 30px;
    }
    .footer__info-block{
        flex-direction: column;
        row-gap: 20px;
    }
}
@media (max-width: 396px){
    .footer__bottom-schedule, .footer__contacts {
        margin-right: 0;
    }
}