.popular {
    margin-top: 70px;
    margin-bottom: 100px;
}
.popular__container {
}
.popular__inner {
}
.popular__title {
    background-color: var(--whiteColor);
    padding: 15px 10px;
    width: 80%;
    margin: 0 auto 40px;
}
.popular__items {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 12px;
    justify-content: center;
}
.popular__item {
    width: 300px;
    height: 200px;
    position: relative;
}
.popular__item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(203deg, #00000000 0%, #202020D9 100%);
    transition: .5s ease-in-out;
 }
 .popular__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-203deg, #0000005c 0%, #202020ef 100%);
    opacity: 0;
    transition: .5s ease-in-out;
 }
 .popular__item:hover{
    &::before {
        opacity: 0;
    }
    &::after{
        opacity: 1;
    }
 }
.popular__item-image {
    width: 300px;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    position: relative;
}
.popular__item-top {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 2;
}
.popular__item-title {
    color: var(--whiteColor);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--arialFomtBold);
}
.popular__item-top p{
    color: var(--whiteColor);
    font-family: var( --arialRegular);
    font-size: 13px;
}
.popular__item-bottom {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 90%;
    justify-content: space-between;
}
.popular__item-text{
    color: var(--whiteColor);
    font-family: var(--arialRegular);
    font-size: 11px;
    line-height: 1.5;
    width: 130px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}
.popular__item-block {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    z-index: 2;
    align-items: flex-end;
    align-self: flex-end;
}
.popular__item-block p:nth-child(1){
    font-size: 20px;
    color: var(--whiteColor);
    font-weight: 600;
    font-family: var(--arialFomtBold);
}
.popular__item-block p:nth-child(2){
    color: var(--whiteColor);
    font-family: 13px;
}

@media (max-width: 990px){
    .popular__title{
        text-align: center;
    }
    .popular__items {
        grid-template-columns: repeat(2, 300px);
    }
}
@media (max-width: 700px){
    .popular__items {
        grid-template-columns: repeat(1, 300px);
    }
}
@media (max-width: 400px){
    .popular {
        margin-top: 30px;
    }
    .popular__items {
        grid-template-columns: repeat(1, 300px);
    }
    .popular__item-text{
        width: 100px;
    }
    /* .popular__item-bottom {
        column-gap: 20px;
    } */
    .popular__item-block {
       margin-top: 15px;
    }
}