.questions {
    margin-top: 70px;
    margin-bottom: 100px;
}
.questions__container {
}
.questions__title {
    margin-bottom: 30px;
    text-align: center;
}
.questions__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--whiteColor);
    padding: 40px 20px;
    width: 90%;
    margin: 0 auto;
}
.questions__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    column-gap: 15px;
    margin-bottom: 30px;
}
.questions_item {
    display: flex;
    flex-direction: column;
    max-width: 298px;
}
.questions_item-title {
    color: var(--blackColor);
    font-size: 18px;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 1.3;
}
.questions_item-title::after {
    content: "";
    position: absolute;
    background-color: gray;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
}
.questions_item-text {
    color: var(--blackColor);
    line-height: 1.5;
    font-weight: 400;
}
.questions__button {
    color: var(--darkEllow);
    border: 1px solid var(--darkEllow);
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 16px;
    transition: all .3s ease;
    text-align: center;
    line-height: 1.2;
    &:hover{
        color: var(--whiteColor);
        background-color: var(--darkEllow);
    }
}

@media (max-width: 344px){
    .questions__button {
        width: 110%;
    }
}